In [1]:
# Library
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
df = pd.read_excel('paired_ttest.xlsx')
df

    sample  microbiological  electrochemical
0        1            129.5            132.3
1        2             89.6             91.0
2        3             76.6             73.6
3        4             52.2             58.2
4        5            110.8            104.2
5        6             50.4             49.9
6        7             72.4             82.1
7        8            141.4            154.1
8        9             75.0             73.4
9       10             34.1             38.1
10      11             60.3             60.1

In [13]:
pre_test = df['microbiological']
post_test = df['electrochemical']

In [14]:
sampling_difference = post_test-pre_test
norm_test = stats.shapiro(sampling_difference)
norm_test

ShapiroResult(statistic=0.9756930470466614, pvalue=0.937522292137146)

In [15]:
if norm_test[1]>0.05:
    print('The difference of two related sample data is normally distributed')
else:
    print("The difference of two related sample data doesn't follow normal distribution")

The difference of two related sample data is normally distributed

In [16]:
stats.ttest_rel(pre_test, post_test, alternative='less')

Ttest_relResult(statistic=-1.322463865434995, pvalue=0.10773034564872348)